body {
    font-family: Arial, sans-serif;
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.card {
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
}
